<div class="headcol">
  <table>
    <thead>
    <th>Employee</th>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td style="line-height: 70px; border: 1px solid black;"><%= user.name %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<div class="right">
  <table>
    <thead>
    <% weekdays_advance = get_non_working_days(@year, @month) %>
    <% @number_of_days.transpose.first.each_with_index do |day, index| %>
      <th style="<%= 'background-color: lightgrey;' if weekdays_advance.include?(day.split('/').second.to_i) %>"><%= day %></th>
    <% end %>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <%# employee_leaves= user.is_on_leave("%02d" % @month, @year) %>
        <% employee_leaves= @users_leaves.select{|u_leave| u_leave.user_id == user.id} %>
        <% leave_days = get_employee_leaves(employee_leaves) %>
        <% @number_of_days.transpose.first.each_with_index do |day, index| %>
          <% current_day = get_attendances(@attendances, day, user.id) %>
          <% current_day_check_with_day = (current_day ? (current_day.day_in.strftime("%m/%d/%Y") == day) : false) %>
          <% weekdays = weekdays_advance.include?(day.split('/').second.to_i) %>
          <% holidays = get_holidays %>
          <% if holidays.include?(day) %>
            <td style="text-align: center; height: 70px; border: 1px solid black; background-color: lightgrey; ">
              <% if current_day_check_with_day %>
                <a width="100%" height="100%" style="display: block;" data-fancybox-width="350" class="fancybox" href="/redmine/attendances/attendance_detail/?user_id=<%= user.id %>&day=<%= day %>">
                  <div style="text-align: left;">
                    <span><%= current_day.day_in.present? ? current_day.day_in.strftime("%H:%M") : "-" %></span><br />
                    <span><%= current_day.day_out.present? ? current_day.day_out.strftime("%H:%M") : "-" %></span><br />
                    <% time =
                               if [(7-@start_d.wday),(21-@start_d.wday),(35-@start_d.wday)].include?(day.split('/').second.to_i)
                                 '04:30'
                               else
                                 '08:15'
                               end
                    %>
                    <span style="<%= current_day.total_working_hours.present? ? (current_day.total_working_hours.strftime("%H:%M") >= time ? 'color: #31A231' : 'color: #ff4d4d') : "-" %>"><%= current_day.total_working_hours.present? ? current_day.total_working_hours.strftime("%H:%M") : "-" %></span>&nbsp;
                    <!--<span><b><%# if leaves = validate_leave?(employee_leaves, leave_days, day) %><%#= leaves %><%# end %></b></span>-->
                  </div>
                </a>
              <% else %>
                <b>Holiday</b>
              <% end %>
            </td>
            <% next %>
          <% end %>
          <% if weekdays %>
            <td style="text-align: center; height: 70px; border: 1px solid black;<%= 'background-color: lightgrey;' if weekdays %>"><b><%= Date::DAYNAMES[@wday[index]] %></b></td>
          <%# end %>
          <% elsif current_day_check_with_day %>
              <td style="text-align: left; height: 70px; border: 1px solid black;<%= 'background-color: lightgrey;' if weekdays %>">
                <a width="100%" height="100%" style="display: block;" data-fancybox-width="350" class="fancybox" href="/redmine/attendances/attendance_detail/?user_id=<%= user.id %>&day=<%= day %>">
                  <div>
                   <span><%= current_day.day_in.present? ? current_day.day_in.strftime("%H:%M") : "-" %></span><br />
                   <span><%= current_day.day_out.present? ? current_day.day_out.strftime("%H:%M") : "-" %></span><br />
              <% time =
                 if [(7-@start_d.wday),(21-@start_d.wday),(35-@start_d.wday)].include?(day.split('/').second.to_i)
                   '04:30'
                 else
                   '08:15'
                 end
              %>
                <span style="<%= current_day.total_working_hours.present? ? (current_day.total_working_hours.strftime("%H:%M") >= time ? 'color: #31A231' : 'color: #ff4d4d') : "-" %>"><%= current_day.total_working_hours.present? ? current_day.total_working_hours.strftime("%H:%M") : "-" %></span>&nbsp;
              <span><b><% if leaves = validate_leave?(employee_leaves, leave_days, day) %><%= leaves %><% end %></b></span>
                  </div>
                </a>
          </td>

          <%# else %>
            <% elsif check_for_leave_types?(leave_days, day, employee_leaves, 'approved') %>
              <td style="text-align: center; height: 70px; border: 1px solid black;background-color: #90EE90"><b><% if leaves = validate_leave?(employee_leaves, leave_days, day) %><%= leaves %><% end %></b></td>
            <% elsif current_day_check_with_day && check_for_leave_types?(leave_days, day, employee_leaves, 'unapproved') %>
              <td style="text-align: center; height: 70px; border: 1px solid black;background-color: #FFAEAE"><b><% if leaves = validate_leave?(employee_leaves, leave_days, day) %><%= leaves %><% end %></b></td>
            <% elsif check_for_leave_types?(leave_days, day, employee_leaves, 'pending') %>
              <td style="text-align: center; height: 70px; border: 1px solid black;background-color: #FFD078"><b><% if leaves = validate_leave?(employee_leaves, leave_days, day) %><%= leaves %><% end %></b></td>
            <% elsif !current_day_check_with_day %>
              <% if check_for_leave_types?(leave_days, day, employee_leaves, 'unapproved') %>
                <td style="text-align: center; height: 70px; border: 1px solid black;background-color: #6495ED;"><b>LWP</b></td>
              <% else %>
                <% if (day < Time.now.strftime("%m/%d/%Y")) || (Date.strptime(day, "%m/%d/%Y").strftime("%Y") < Time.now.strftime("%Y")) %>
                  <td style="text-align: center; height: 70px; border: 1px solid black;background-color: #FFAEAE"><b>A</b></td>
                <% else %>
                  <td style="text-align: center; height: 70px; border: 1px solid black;"></td>
                <% end %>
              <% end %>
            <%# end %>
          <% end %>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<script>
  $(document).ready(function() {
    $('a.fancybox').fancybox({
      padding: 0,
      parent: 'body',
      type: 'ajax',
      titlePosition: 'inside',
      closeBtn: true,
      autoSize: false,
      height: 300,

      minWidth: 600,
      arrows: false,
      beforeLoad: function() {
        this.width = parseInt(this.element.data('fancybox-width'));
      },
      helpers: {
        overlay: {
          css: {
            'background': 'rgb(58, 42, 45, 0.15)'
          }
        }
      }
    });
  });

</script>
