<table width="100%" class="issues text-center">
  <th style="background-color: lightgrey;"><%= @user.name + "'s Attendance of " + @day.strftime("%d/%m/%Y")  %></th>
</table>
<table width="100%" class="issues text-center">
  <tr>
    <th>Type</th>
    <th>Date</th>
    <th>Time</th>
  </tr>
  <% @punch_date.each do |punch_date| %>
    <tr class="<%= cycle('even', 'odd') -%> issue">
      <td><%= (punch_date.punch_type == 1 || punch_date.punch_type == 2) ? "In" : "Out" %></td>
      <td><%= punch_date.punch_date.strftime("%d/%m/%Y") %></td>
      <td><%= punch_date.punch_time.strftime("%H:%M") %></td>
    </tr>
  <% end %>
</table>
