<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.css" type="text/css" media="screen" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.js"></script>
<!--<link rel="stylesheet" href="/redmine/stylesheets/jquery.fancybox.css" type="text/css" media="screen" />-->
<!--<script type="text/javascript" src="/redmine/javascripts/jquery.fancybox.js"></script>-->
<h2>Daily Attendance</h2>
<p class="contextual">
  <b>Year</b> <%= select_year(@year, :start_year => Date.today.year-3, :end_year => 3.years.from_now.year) %>&nbsp;&nbsp;
  <b>Month</b> <%= select_month(@month) %>&nbsp;&nbsp;
  <b>User</b> <% if @selected_users.count == 1 %><%= select_tag 'user_id', options_for_select(@selected_users.map{|user| [user.name, user.id]}) %><% else %><%= select_tag 'user_id', options_for_select([["--select--", '']]+@selected_users.map{|user| [user.name, user.id]}) %><% end %>
</p>
<div class="table-container" id="attendance_list">
  <%= render :partial => '/systango_hrm_attendances/list' %>
</div>
<style>
  .table-container {
    position: relative;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    display: inline-block;
  }
  table {
    float: left;
  }
  th {
    border: 1px solid black;
    padding: 10px;
  }
  td {
    border: 1px thick black;
    padding: 10px;
    margin: 0;
    white-space: nowrap
  }
  .right {
    overflow: auto;
  }
  .contextual{
    width: 800px;
    font-size: 1.2em;
  }
</style>
<script>
  $('select#date_year').on('change', function() {
    $.ajax({
      type: "GET",
      url: "/redmine/attendances",
      data: {year: $(this).val(), month: $('select#date_month').val(), user_id: $('select#user_id').val()}
    });
  });
  $('select#date_month').on('change', function() {
    $.ajax({
      type: "GET",
      url: "/redmine/attendances",
      data: {year: $('select#date_year').val(), month: $(this).val(), user_id: $('select#user_id').val()}
    });
  });
  $('select#user_id').on('change', function() {
    $.ajax({
      type: "GET",
      url: "/redmine/attendances",
      data: {year: $('select#date_year').val(), month: $('select#date_month').val(), user_id: $(this).val()}
    });
  });
</script>