<% if sr_requests %>
  <table class="list issues text-center">
    <thead>
    <tr>
      <th>User</th>
      <th>Request Type</th>
      <th>Applied on</th>
      <th>Leave start date</th>
      <th>Leave end date</th>
      <th>Time</th>
      <!--<th>Reason</th>-->
      <th><%= l(:label_category)%></th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <% sr_requests.compact.each do |leave| %>
      <% next if leave.systango_hrm_special_request.nil? %>
      <% unless leave.systango_hrm_special_request.cancel? or leave.systango_hrm_special_request.unapproved? %>
        <tr class="<%= cycle('even', 'odd') -%> issue">
          <td><% if leave.systango_hrm_special_request.user.name.present? %><%= leave.systango_hrm_special_request.user.name %><% end %></td>
          <td><% if leave.systango_hrm_special_request.request_type.present? %><%= leave.systango_hrm_special_request.request_type %><% end %></td>
          <td><% if leave.systango_hrm_special_request.created_at.present? %><%= leave.systango_hrm_special_request.created_at.strftime("%b %d, %y") %><% else %><%= "-" %><% end %></td>
          <td><% if leave.systango_hrm_special_request.leave_start_date.present? %><%= leave.systango_hrm_special_request.leave_start_date.strftime("%b %d, %y") %><% else %><%= "-" %><% end %></td>
          <td><% if leave.systango_hrm_special_request.leave_start_date.present? %><%= leave.systango_hrm_special_request.leave_start_date.strftime("%b %d, %y") %><% else %><%= "-" %><% end %></td>
          <td><% if leave.systango_hrm_special_request.hours_minutes.present? %><%= leave.systango_hrm_special_request.hours_minutes.strftime("%H:%M") %><% else %><%= "-" %><% end %></td>
          <!--<td><%#= simple_format leave.reason %></td>-->
          <td><%= link_to "Special Request", application_systango_hrm_special_request_path(leave.systango_hrm_special_request.id) %></td>
          <td><% if leave.systango_hrm_special_request.status.present? %><%= leave.systango_hrm_special_request.status.slice(0,1).capitalize + leave.systango_hrm_special_request.status.slice(1..-1) %><% end %></td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
<% end %>