<% if sr_requests %>
  <table class="list issues text-center">
    <thead>
    <tr>
      <th>User</th>
      <th>Request Type</th>
      <th>Applied on</th>
      <th>Leave start date</th>
      <th>Leave end date</th>
      <th>Time</th>
      <!--<th>Reason</th>-->
      <th><%= l(:label_category)%></th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <% sr_requests.compact.each do |leave| %>
      <% next if leave.nil? %>
      <% unless leave.cancel? or leave.unapproved?%>
        <tr class="<%= cycle('even', 'odd') -%> issue">
          <td><% if leave.user.name.present? %><%= leave.user.name%><% end %></td>
          <td><% if leave.request_type.present? %><%= leave.request_type %><% end %></td>
          <td><% if leave.created_at.present? %><%= leave.created_at.strftime("%b %d, %y") %><% else %><%= "-" %><% end %></td>
          <td><% if leave.leave_start_date.present? %><%= leave.leave_start_date.strftime("%b %d, %y") %><% else %><%= "-" %><% end %></td>
          <td><% if leave.leave_start_date.present? %><%= leave.leave_start_date.strftime("%b %d, %y") %><% else %><%= "-" %><% end %></td>
          <td><% if leave.hours_minutes.present? %><%= leave.hours_minutes.strftime("%H:%M") %><% else %><%= "-" %><% end %></td>
          <!--<td><%#= simple_format leave.reason %></td>-->
          <td><%= link_to "Special Request", application_systango_hrm_special_request_path(leave.id) %></td>
          <td><% if leave.status.present? %><%= leave.status.capitalize %><% end %></td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
<% end %>