<table class="list issues text-center">
  <thead>
  <tr>
    <th>Employee Name</th>
    <th>Date</th>
    <th>Type</th>
    <th>Reason</th>
    <th>Status</th>
    <%# if User.current.admin? %>
      <!--<th>Actions</th>-->
    <%# end %>
  </tr>
  </thead>
  <tbody>
  <% if special_requests.size > 0 %>
    <% special_requests.each do |special_request| %>
      <% if special_request.present? %>
        <tr>
          <td><%= special_request.user.name if special_request.user.present? %></td>
          <td><%= special_request.leave_start_date.strftime("%m/%d/%Y") %></td>
          <td><%= special_request.request_type %></td>
          <td><%= simple_format special_request.reason %></td>
          <td class="tooltip"><%= special_request.status.capitalize %><span class="classic"><h3>Status Detail</h3><br />
          <b>First Approval: </b>
            <% if first_approval.length > 0 %>
            <%= first_approval.map(&:name).join(", ") %>
          <% elsif first_approval.length == 0 %>
            <%= "No First Approver" %>
          <% end %><br />
          <b>Status: </b>
            <%= special_request.status.capitalize %>
            <% if special_request.status.downcase == 'approved' %>
            <b>Date: </b>
              <%= special_request.leave_start_date.strftime("%m/%d/%Y") %>
          <% end %><br /><br />
          <b>Second Approval: </b>
            <% if second_approval.length > 0 %>
            <%= second_approval.map(&:name).join(", ") %>
          <% elsif second_approval.length == 0 %>
            <%= "No Second Approver" %>
          <% end %><br />
          <b>Status: </b>
            <%= special_request.status.capitalize %>
            <% if special_request.status.downcase == 'approved' %>
            <b>Date: </b>
              <%= special_request.leave_start_date.strftime("%m/%d/%Y") %>
          <% end %>
        </span>
          </td>
          <%# if User.current.admin? %>
            <!--<td><%#= link_to image_tag('delete.png'), special_request, :data => {:confirm => "Are you sure this special request will be deleted?"}, :method => :delete %></td>-->
          <%# end %>
        </tr>
      <% end %>
    <% end %>
  <% else %>
    <tr><td colspan="6"><%= "No record(s) found." %></td></tr>
  <% end %>
  </tbody>
</table>
<style type="text/css">
  .tooltip {
    /*border-bottom: 1px dotted #000000; color: #000000; outline: none;*/
    /*cursor: help; text-decoration: none;*/
    position: relative;
    cursor: pointer;
  }
  .tooltip span {
    margin-left: -999em;
    position: absolute;
    text-align: left;
  }
  .tooltip:hover span {
    border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    font-family: Calibri, Tahoma, Geneva, sans-serif;
    position: absolute; left: 1em; top: 2em; z-index: 99;
    margin-left: 0; width: 250px;
    cursor: pointer;
  }
  .tooltip:hover img {
    border: 0; margin: -10px 0 0 -55px;
    float: left; position: absolute;
  }
  .tooltip:hover em {
    font-family: Candara, Tahoma, Geneva, sans-serif; font-size: 1.2em; font-weight: bold;
    display: block; padding: 0.2em 0 0.6em 0;
  }
  .classic { padding: 0.8em 1em; }
  .custom { padding: 0.5em 0.8em 0.8em 2em; }
  /** html a:hover { background: transparent; }*/
  .classic {background: #FFFFAA; border: 1px solid #FFAD33; }
  /*.critical { background: #FFCCAA; border: 1px solid #FF3334;	}*/
  /*/!*.help { background: #9FDAEE; border: 1px solid #2BB0D7;	}*!/*/
  /*.info { background: #9FDAEE; border: 1px solid #2BB0D7;	}*/
  /*.warning { background: #FFFFAA; border: 1px solid #FFAD33; }*/
</style>
