<%= render 'shared_css_js/css_js' %>
<p class="contextual">
  <%#= link_to_leave_dash_board %> |
  <%= link_to "Leave Dashboard", '/redmine/leaves' %> |
  <% if show_details? %>
    <%= link_to l(:label_manage_request), leaves_manage_path %> |
    <%= link_to "Leave Dashboard", '/redmine/leaves/manage' %>
  <% end %>
  <%= link_to "Go back", '/redmine/leaves' %>
</p>
<%if !@request_changed_by_user.nil? and !@request_changed_by_user.errors.blank?%>
  <p>
  <div id="errorExplanation">
    <ul>
      <% @request_changed_by_user.errors.messages.values.each do |message| %>
        <% message.each do |msg| %>
          <li><%= msg %></li>
        <%end %>
      <% end %>
    </ul>
  </div>
  </p>
<%end%>

<h3><%= l(:heading_application)%></h3>
<%= form_for :systango_hrm_special_requests, url: special_leaves_status_path do |f| %>
  <div class="issue">
    <h4>
      <%= l(:label_leave_applied) %>
      <u>
        <% if show_link_to_report? %>
          <%=  @leave_detail.user.name rescue nil %>
        <% else %>
          <%= link_to @leave_detail.user.name, leave_report_path(:id => @leave_detail.id.to_i) %>
        <% end %>
      </u>
    </h4>
    <%= hidden_field_tag "id", @leave_detail.id %>
    <table class="attributes">
      <tr>
        <th><%= f.label :referred_by %>:</th>
        <td><%= (@leave_detail.user.name rescue nil)%></td>
        <th><%= f.label :leave_type %>:</th>
        <td><%= @leave_detail.request_type %></td>
      </tr>
      <tr>
        <th><%= f.label :applied_on %>:</th>
        <td><%= @leave_detail.created_at.strftime("%B %d, %Y") rescue nil %></td>
        <th><%= f.label :subject %>:</th>
        <td> Special Request</td>
      </tr>
      <tr>
        <th><%= f.label :leave_start_date%>:</th>
        <td><%= @leave_detail.leave_start_date.strftime("%B %d, %Y") rescue nil %></td>
        <th><%= f.label :leave_end_date%>:</th>
        <td><%= @leave_detail.leave_start_date.strftime("%B %d, %Y") rescue nil %></td>
      </tr>
      <tr>
        <th><%= f.label :remarks%>:</th>
        <td><%= @leave_detail.reason %></td>
      </tr>
      <%# if show_details? %>
      <tr>
        <th><%= f.label :leave_final_status, l(:label_for_status)+":" %></th>
        <td><%= @leave_detail.status.capitalize %></td>

        <% if @request_reciever.present? && @request_reciever.pending? %>
        <tr>
          <th>
            <%= f.label(:comment) do %>
              Add comment: <font color="red">*</font>
            <% end %>
          </th>
          <td>
            <%= f.text_area :comment, :id => "message_area", :style=>"resize:none", :cols => 20, :rows => 5, :class => "wiki-edit"%>
          </td>
        </tr>
      <% end %>
      <%# end %>
    </table>
  </div>
  <% if @request_reciever.present? && @request_reciever.pending? %>
    <%= f.submit l(:button_approve), :name => 'approve',:class=>"left"%>
    <%= f.submit l(:button_unaprrove), :name => 'unapprove',:class=>"left"%>
  <% end %>

  <% if params[:id].present? %>
    <% leave_status = SystangoHrmSpecialRequest.find(params[:id]) %>
    <% if (@final_approver_request.present? && @final_approver_request.pending? && !@request_reciever.present? && !leave_status.cancel?)  %>
      <%= f.submit(l(:button_cancel_leave), :name => 'cancel',:class=>"left") %>
    <% end %>
  <% end %>
</br>
<% end %>
</br>
<p>
<h3>
  <%= l(:heading_approver) %>
</h3>
</p>
<%= render :partial => "systango_hrm_special_requests/special_leave_approvers_of_application"%>
<%# end%>
<p class="contextual">
  <%= link_to(l(:label_manage_request), leaves_manage_path) if show_details?  %> | <%= link_to_go_back %>
</p>
