$("#special_reqeusts_leaves").html('<%= escape_javascript(render(:partial => '/systango_hrm_special_requests/special_request_listings', :locals => { :special_requests => @special_requests, :second_approval => @users_with_hr_permission, :first_approval => @default_application_receivers})) %>');