<%= render 'shared_css_js/css_js' %>
<div align="center" style="padding-left: 20%;">
<b>Request Status</b>&nbsp;&nbsp;
<%= select_tag 'status', options_for_select(SystangoHrmSpecialRequest::STATUSES, 'Pending') %></div><br />
<div id="special_reqeusts_leaves">
  <%= render :partial => '/systango_hrm_special_requests/special_request_listings', :locals => { :special_requests => @special_requests, :second_approval => @users_with_hr_permission, :first_approval => @default_application_receivers} %>
</div>
<script>
  $('select#status').on('change', function() {
    $.ajax({
      type: "GET",
      url: "/redmine/special_requests",
      data: {status: $(this).val()}
    });
  });
</script>