<%= render 'shared_css_js/css_js' %>

<p class="contextual">
	<%= link_to_leave_dash_board %> | <%= link_to l(:label_manage_request), leaves_manage_path %> | <%=  link_to_go_back %>
</p>

<h2><%= @leave_status.capitalize %> special request</h2>
<%= will_paginate @all_leaves unless @all_leaves.blank? %>
  <% if User.current.admin_user? %>
    <%= render :partial => "systango_hrm_special_requests/hr_requests", :locals => { :leaves => @all_leaves } %>
  <% else %>
    <%= render :partial => "systango_hrm_special_requests/requests", :locals => { :leaves => @all_leaves } %>
  <% end %>

  <% if @special_request_pending_leaves.present? %>
    <%= will_paginate @special_request_pending_leaves unless @special_request_pending_leaves.blank? %>
    <%= render :partial => "systango_hrm_special_requests/requests", :locals => { :leaves => @special_request_pending_leaves } %>
  <% end %>

 <% if @manager_latest_leaves.present? %>
  <%= will_paginate @manager_latest_leaves unless @manager_latest_leaves.blank? %>
  <%= render :partial => "systango_hrm_special_requests/requests", :locals => { :leaves => @manager_latest_leaves } %>
 <% end %>

  <% if @final_approver_latest_leaves.present? %>
    <%= will_paginate @final_approver_latest_leaves unless @final_approver_latest_leaves.blank? %>
    <%= render :partial => "systango_hrm_special_requests/requests", :locals => { :leaves => @final_approver_latest_leaves } %>
  <% end %>

<% if @final_approver_pending_leaves.present? %>
  <%= will_paginate @final_approver_pending_leaves unless @final_approver_pending_leaves.blank? %>
  <%= render :partial => "systango_hrm_special_requests/pending_special_request_final_approver", :locals => { :sr_requests => @final_approver_pending_leaves } %>
<% end %>

<p class="contextual">
	<%= link_to l(:label_manage_request), leaves_manage_path %> | <%=  link_to_go_back %>
</p>
