<%= render 'shared_css_js/css_js' %>
<h3> <%= l(:new_special_request) %> - <%= Time.now.strftime("%Y") %> </h3>
<%= form_for :special_request, url:  systango_hrm_special_requests_path do |f| %>
  <div class="box tabular">
    <% if @special_request and !@special_request.errors.blank? %>
      <div id="errorExplanation">
        <ul>
          <% @special_request.errors.messages.values.each do |message| %>
            <% message.each do |msg| %>
              <li><%= msg %></li>
            <%end %>
          <% end %>
        </ul>
      </div>
    <% end %>
    <p>
      <%= f.label(:new_request_type) do  %>
        Request Type <font color="red">*</font>
      <%end%>
      <%= f.select :request_type, options_for_select([["Early Going", "Early Going"], ["Late Coming", "Late Coming"]]) %>
    </p>
    <p>
      <%= f.label(:leave_start_date) do  %>
        Date <font color="red">*</font>
      <%end%>
      <%= f.text_field :leave_start_date, :size => 10 %>
    </p>
    <!--<p>-->
      <!--<%#= f.label(:hours) do  %>-->
        <!--Hours <font color="red">*</font>-->
      <!--<%#end%>-->
      <!--<%#= f.time_select :hours, discard_minute: true %>-->
    <!--</p>-->
    <p>
      <%= f.label(:hours_minutes) do  %>
        Hours & Minutes <font color="red">*</font>
      <%end%>
      <%= f.time_select :hours_minutes, :prompt => {:hour => '--', :minute => '--'} %>
    </p>
    <p>
      <%= f.label(:remarks) do  %>
        Reason <font color="red">*</font>
      <%end%>
      <%= f.text_area :reason, :style => 'width: 50%',:style=>"resize:none", :cols => 10, :rows => 5 %>
    </p>
    <%= f.hidden_field :user_id, :value => User.current.id %>
    <%= f.hidden_field :status, :value => "pending" %>
  </div>
  <span id="watchers_inputs">
				<% unless @default_application_receivers.blank? %>
					<% @default_application_receivers.each do |user| %>
              <%= hidden_field_tag(:first_approver, user.id) %>
					<% end %>
				<% end %><br />
    <% unless @users_with_hr_permission.blank? %>
					<% @users_with_hr_permission.each do |user| %>
            <%= hidden_field_tag(:final_approver, user.id) %>
					<% end %>
				<% end %>
	</span>
  <%= f.submit l(:submit_form), :class => "right" %> | <%= button_tag "Cancel", :onclick => "if(confirm('Are you sure this new special request will not be created?')){window.location.href='/redmine'} return false;" %>
<% end %>
<script>
//  var disabledDates = <%#= raw @non_working_days %>;
  $(document).ready(function(){
    $(function() {
      $( "#special_request_leave_start_date" ).datepicker({
        dateFormat: "yy-mm-dd",
        changeMonth: true,
        changeYear: true,
        minDate: "-12M",
        showOn: 'button',
        buttonImage: '/redmine/images/calendar.png',
        buttonImageOnly: true
//        beforeShowDay: function(date){
//          var string = jQuery.datepicker.formatDate('yy-mm-dd', date);
//          return [ disabledDates.indexOf(string) == -1 ]
//        }
      });
    });
  });
</script>