<%= render 'shared_css_js/css_js' %>
<% if User.current.admin? %>
  <div class="tabs">
    <ul class="tab-links">
      <li id="weekdays_tab" class="active"><%= link_to 'Non Working Days', "javascript:void(0)", :onclick => "$('#weekdays_tab').addClass('active');$('#holidays_tab').removeClass('active');$('#weekdays_list').show();$('#holidays_list').hide();" %></li>
      <li id="holidays_tab"><%= link_to 'Holidays', "javascript:void(0)", :onclick => "$('#weekdays_tab').removeClass('active');$('#holidays_tab').addClass('active');$('#weekdays_list').hide();$('#holidays_list').show();" %></li>
    </ul>
  </div>
  <div class="tab-content">
    <div id="weekdays_list" class="tab active">
      <div align="left"><b>Select Year</b>&nbsp;&nbsp;<%= select_year(Date.today.year, {:start_year => (@nwd_year || Date.today.year), :end_year => 3.years.from_now.year}, {:style => "width:150px", :onchange => "$('#non_working_day_year').val($('#date_year option:selected').val());"}) %></div>
      <div align="right"><p class="contextual"><%= link_to_leave_dash_board %> | <%=  link_to_go_back %></p></div><br />
	    <div>
	      <%= button_to_function "Add Day", "$('#new_non_working_day').show()", :id => 'add_day' %>
	    </div><br />
      <div id="new_non_working_day" style="display: none;">
        <%= form_for :non_working_day,  remote: true, url:  systango_hrm_non_working_days_path do |f| %>
          <div class="box tabular">
            <% if @non_working_day and !@non_working_day.errors.blank? %>
              <div id="errorExplanation">
                <ul>
                  <% @non_working_day.errors.messages.values.each do |message| %>
                    <% message.each do |msg| %>
                      <li><%= msg %></li>
                    <%end %>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <p>
              <%= f.label(:week_day) do  %>
                Week Day <font color="red">*</font>
              <%end%>
              <%= f.select :non_working_week_day, options_for_select(SystangoHrmNonWorkingDay::WEEK_DAYS) %>
            </p>
	          <p>
	            <%= f.label(:non_working) do  %>
	              Non Working <font color="red">*</font>
	            <%end%>
		          <%= f.radio_button :non_working_day, "Full Day", :checked => true %> Full Day
		          <%= f.radio_button :non_working_day, "Half Day", :checked => false %> Half Day
	          </p>
            <p>
              <%= f.label(:leave_considered) do  %>
                Leave Considered <font color="red">*</font>
              <%end%>
              <%= f.select :leave_consider, options_for_select(SystangoHrmNonWorkingDay::LEAVE_CONSIDERED) %>
            </p>
            <p>
              <%= f.label(:leave_considered) do  %>
                Non working days applies to <font color="red">*</font>
              <%end%>
              <%= f.select :non_working_week_days, options_for_select(SystangoHrmNonWorkingDay::NON_WORKING_DAYS) %>
            </p>
            <%= hidden_field_tag(:non_working_day_year, params[:non_working_day_year]) %>
          </div>
          <%= f.submit l(:submit_form), :class => "right" %> | <%= button_tag "Cancel", :onclick => "if(confirm('Are you sure this non working day will not be created?')){$('#new_non_working_day').hide();this.form.reset();} return false;" %>
        <% end %>
      </div><br />
	    <div class="table-container" id="non_working_days_listing">
		    <%= render(:partial => '/systango_hrm_non_working_days/non_working_days_list') %>
	    </div>
    </div>
    <div id="holidays_list" class="tab">
      <%= render :partial => '/systango_hrm_holidays/holidays' %>
    </div>
  </div>
  <style>
	  ./*----- Tabs -----*/
	  .tabs {
		  width:100%;
		  display:inline-block;
	  }

	  /*----- Tab Links -----*/
	  /* Clearfix */
	  .tab-links:after {
		  display:block;
		  clear:both;
		  content:'';
	  }

	  .tab-links li {
		  margin:0px 5px;
		  float:left;
		  list-style:none;
		  color: #333;
	  }

	  .tab-links a {
		  padding:9px 15px;
		  display:inline-block;
		  border-radius:3px 3px 0px 0px;
		  background:#7FB5DA;
		  font-size:16px;
		  font-weight:600;
		  color:#4c4c4c;
		  transition:all linear 0.15s;
	  }

	  .tab-links a:hover {
		  background:#a7cce5;
		  text-decoration:none;
	  }

	  .active {
		  background:#fff;
		  color:#4c4c4c;
		  background: #fff none repeat scroll 0 0;
		  border-color: #ccc #ccc #fff;
		  /*border-style: solid;*/
		  border-top-left-radius: 6px;
		  border-top-right-radius: 6px;
		  border-width: 1px;
		  color: #333;
		  float: left;
		  height: 21px;
		  margin: 0 3px 0 0;
		  padding: 1px 9px;
	  }

	  /*----- Content of Tabs -----*/
	  .tab-content {
		  padding:15px;
		  border-radius:3px;
		  /*box-shadow:-1px 1px 1px rgba(0,0,0,0.15);*/
		  background:#fff;
	  }

	  .tab {
		  display:none;
	  }

	  .tab.active {
		  display:block;
		  width: 100%;
	  }

	  .button {
		  font: bold 11px Arial;
		  text-decoration: none;
		  background-color: #EEEEEE;
		  color: #333333;
		  padding: 2px 6px 2px 6px;
		  border-top: 1px solid #CCCCCC;
		  border-right: 1px solid #333333;
		  border-bottom: 1px solid #333333;
		  border-left: 1px solid #CCCCCC;
	  }
  </style>
<% else %>
  <%= render :partial => '/systango_hrm_holidays/holidays' %>
<% end %>
<script>
	<% if @holiday_tab.present?  %>
	$('#holidays_tab a').trigger('click');
	<% end %>
	if ($('#date_year').is(':visible')){
		$('#non_working_day_year').val($('#date_year option:selected').val());
	}
	$('select#date_year').on('change', function() {
		$.ajax({
			type: "GET",
			url: "/redmine/holidays",
			data: {non_working_day_year: $(this).val()}
		});
	});
</script>