<!--<p>Leave from: <%#= leave.applied_user.name.titleize rescue nil%></p>-->

<!--<p>Leave Type: <%#= leave.leave_type %></p>-->

<!--<p>Applied on: <%#=  leave.created_at.strftime("%B %d, %Y") %><p>-->

<!--<p>Start date: <%#=  leave.leave_start_date.strftime(leave.is_half_day ? "%b %d, %y %H:%M" : "%b %d, %y") %></p>-->

<!--<p>End date: <%#=  leave.leave_end_date.strftime(leave.is_half_day ? "%b %d, %y %H:%M" : "%b %d, %y")  %></p>-->
<!--<p>Subject: <%#=  leave.systango_hrm_subject.subject %></p>-->

<table border="1" width="50%">
  <tr>
    <td width="30%">Leave Type</td>
    <td> <%= leave.systango_hrm_subject.subject rescue nil %></td>
  </tr>
  <tr>
    <td>Applied on</td>
    <td> <%=leave.created_at.strftime("%d/%m/%Y") %></td>
  </tr>
  <tr>
    <td>Date</td>
      <% if leave.leave_end_date == leave.leave_start_date %>
          <td><%= leave.leave_start_date.strftime("%m/%d/%Y") %> - <%= leave.leave_end_date.strftime("%m/%d/%Y") %> (1 day) </td>
        <% else %>
          <td><%= leave.leave_start_date.strftime("%m/%d/%Y") %> - <%= leave.leave_end_date.strftime("%m/%d/%Y") %> (<%= pluralize((leave.leave_end_date.to_date - leave.leave_start_date.to_date).to_i + 1, 'day') %>)</td>
     <% end %>
   </tr>
  <tr>
    <td>Status</td>
    <td>Cancelled</td>
  </tr>
</table><br />
<p>Thanks,<br />Site Administrator</p>


