<table border="1" width="50%">
  <tr>
    <td width="30%">Leave</td>
    <% if leave.leave_end_date.to_date == leave.leave_start_date.to_date %>
      <!--<td>1 day</td>-->
      <td><%= (leave.is_start_date_enabled || leave.is_end_date_enabled) ? "(0.5 day)" : "(1 day)" %></td>
		<% else %>
	    <!--<td><%#= (leave.leave_end_date.to_date - leave.leave_start_date.to_date).to_i + 1 %> days</td>-->
	    <td>(<%= (leave.is_start_date_enabled || leave.is_end_date_enabled) ? pluralize((leave.leave_end_date.to_date - leave.leave_start_date.to_date).to_i + 1 - 0.5, 'day') : pluralize((leave.leave_end_date.to_date - leave.leave_start_date.to_date).to_i, 'day') %>)</td>
	  <% end %>
  </tr>
  <tr>
    <td>Leave Start date</td>
    <td> <%= leave.leave_start_date.strftime(leave.is_half_day ? "%d %m, %Y %H:%M" : "%d/%m/%Y") %></td>
  </tr>
  <tr>
    <td>Leave End date</td>
    <td> <%= leave.leave_end_date.strftime(leave.is_half_day ? "%b %d, %y %H:%M" : "%d/%m/%Y") %></td>
  </tr>
  <tr>
    <td>Type</td>
    <td> <%= leave.systango_hrm_subject.subject rescue nil %></td>
  </tr>
  <tr>
    <td>Remarks</td>
    <td><%= leave.remark %></td>
  </tr>
</table><br />