<table border="1" width="50%">
  <tr>
    <td width="30%">Leave Type</td>
    <td>Special Request</td>
  </tr>

  <tr>
    <td width="30%">Date</td>
    <td><%= leave.leave_start_date.strftime("%d/%m/%Y") %></td>
  </tr>
  <tr>
    <td>Time</td>
    <td><%= leave.hours_minutes.strftime("%H:%M") %></td>
  </tr>
  <tr>
    <td width="30%">Subject</td>
    <td> <%= leave.request_type %></td>
  </tr>
</table><br />
<p>Thanks,<br />Site Administrator</p>
