Hello <%= @employee_leave.user.subordinates.first.teamlead_user.name %>
<p>You approved leave of <%= @employee_leave.user.name %> on (<%= @approved_date.strftime("%d/%m/%Y") %>). Please find the details below.</p>
<table border="1" width="80%">
  <tr>
    <td width="25%">Type</td>
    <td><%= @employee_leave.systango_hrm_subject.subject %></td>
  </tr>
  <tr>
    <td>Date</td>
    <% if  @employee_leave.leave_start_date ==  @employee_leave.leave_end_date %>
      <td><%= @employee_leave.leave_start_date.strftime("%d/%m/%Y") %> - <%= @employee_leave.leave_end_date.strftime("%d/%m/%Y") %> <%= (@employee_leave.is_start_date_enabled || @employee_leave.is_end_date_enabled) ? "(0.5 day)" : "(1 day)" %> </td>
    <% else %>
      <td><%= @employee_leave.leave_start_date.strftime("%d/%m/%Y") %> - <%= @employee_leave.leave_end_date.strftime("%d/%m/%Y") %> (<%= (@employee_leave.is_start_date_enabled || @employee_leave.is_end_date_enabled) ? pluralize((@employee_leave.leave_end_date.to_date - @employee_leave.leave_start_date.to_date).to_i + 1 - 0.5, 'day') : pluralize((@employee_leave.leave_end_date.to_date - @employee_leave.leave_start_date.to_date).to_i, 'day') %>)</td>
    <% end %>
  </tr>
  <tr>
    <td>Reason</td>
    <td><%=  @employee_leave.remark %></td>
  </tr>
</table><br />
<p>Thanks,<br />Site Administrator</p