<p>Your Special Request has been submitted on (<%= @leave_details.created_at.strftime("%d/%m/%Y")%>). Please find the below details.
</p>
<%#= render :partial => "leave_notification", :locals => { :leave => @leave, :referred_by => @referred_by } %>
<table border="1" width="50%">

  <tr>
    <td width="30%">Date</td>
    <td><%= @leave_details.leave_start_date.strftime("%d/%m/%Y") %></td>
  </tr>
  <tr>
    <td>Time</td>
    <td><%= @leave_details.hours_minutes.strftime("%H:%M") %></td>
  </tr>
  <tr>
    <td width="30%">Type</td>
    <td> <%= @leave_details.request_type.capitalize %></td>
  </tr>

  <tr>
    <td>Remarks</td>
    <td><%= @leave_details.reason.capitalize %></td>
  </tr>
</table><br />
<p>Thanks,<br />Site Administrator</p>