<p>Hello <%= @receivers_details.name %>,</p>
<p> <%= @user.name  %>  has applied for Comp-off leave on (<%= @leave_details.created_at.strftime("%d/%m/%Y") %>).Please find the details below.</p>
<table border="1" width="80%">
  <tr>
    <td width="25%">Date</td>
    <% if @leave_details.leave_start_date == @leave_details.leave_end_date %>
      <td><%= @leave_details.leave_start_date.strftime("%d/%m/%Y") %> - <%= @leave_details.leave_end_date.strftime("%d/%m/%Y") %> (<%= @leave_details.comp_off_given.to_f %> day) </td>
    <% else %>
      <td><%= @leave_details.leave_start_date.strftime("%d/%m/%Y") %> - <%= @leave_details.leave_end_date.strftime("%d/%m/%Y") %> (<%= @leave_details.comp_off_given.to_f %> days)</td>
    <% end %>
  </tr>
  <tr>
    <td>Reason</td>
    <td><%= @leave_details.comp_off_remarks %></td>
  </tr>
</table><br />
<p>Thanks,<br />Site Administrator</p>
