<p>Hello <%= @receivers_details.name %>,</p>
<p>Your Special Request is approved by <% if @employee_leave.systango_hrm_request_receivers.last.user.name.present? %><%= @employee_leave.systango_hrm_request_receivers.last.user.name %> <% else %> Final approver <% end %>on (<%= @approved_date.strftime("%d/%m/%Y") %>). Please find the details below.</p>
<table border="1" width="50%">
  <tr>
    <td width="30%">Leave Type</td>
    <td>Special Request</td>
  </tr>

  <tr>
    <td width="30%">Date</td>
    <td><%= @employee_leave.leave_start_date.strftime("%d/%m/%Y") %></td>
  </tr>
  <tr>
    <td>Time</td>
    <td><%= @employee_leave.hours_minutes.strftime("%H:%M") %></td>
  </tr>
  <tr>
    <td width="30%">Subject</td>
    <td> <%= @employee_leave.request_type %></td>
  </tr>
  <tr>
    <td>Reason</td>
    <td><%= @employee_leave.reason %></td>
  </tr>
</table><br />
<p>Thanks,<br />Site Administrator</p>
