<p>Hello <%= @receivers_details.name %>,</p>
<p>Your Compoff Leave is approved by <%=@compoff.systango_hrm_request_receivers.first.user.name %> on (<%=@approved_date.strftime("%d/%m/%Y")%>).Please find the details below</p>

<table border="1" width="80%">
  <tr>
    <td width="30%">Leave Type</td>
    <td> Compoff Leave</td>
  </tr>
  <tr>
    <td>Date</td>
    <% if @compoff.leave_end_date == @compoff.leave_start_date %>
      <td><%= @compoff.leave_start_date.strftime("%m/%d/%Y") %> - <%= @compoff.leave_end_date.strftime("%m/%d/%Y") %> (<%= @compoff.comp_off_given.to_f %> day) </td>
    <% else %>
      <td><%= @compoff.leave_start_date.strftime("%m/%d/%Y") %> - <%= @compoff.leave_end_date.strftime("%m/%d/%Y") %> (<%= @compoff.comp_off_given.to_f %> days)</td>
    <% end %>
  </tr>
  <tr>
    <td>Reason</td>
    <td><%= @compoff.systango_hrm_request_receivers.first.comment %></td>
  </tr>
  <tr>
    <td>Status</td>
    <td><%= @compoff.status.capitalize %></td>
  </tr>
</table><br />
<p>Thanks,<br />Site Administrator</p>
