Hello <%= @leave_application.user.subordinates.first.teamlead_user.name %>
<p><%= @current_user.name.titleize %> has cancelled the following Special Request on (<%= @cancelled_date.strftime("%d/%m/%Y")%>).Please the details below.</p>

<%= render :partial => "special_leave_detail", :locals => { :leave => @leave_application } %>