<p>Hello <%= @receivers_details.name %></p>
<p>Compoff Leave approved by first approver.</p>

<table border="1" width="80%">
  <tr>
    <td width="25%">Start Date</td>
    <td><%= @compoff.leave_start_date.strftime("%Y-%m-%d") %></td>
  </tr>
  <tr>
    <td>End Date</td>
    <td><%= @compoff.leave_end_date.strftime("%Y-%m-%d") %></td>
  </tr>
  <tr>
    <td>Reason</td>
    <td><%= @compoff.comp_off_remarks %></td>
  </tr>
</table><br />
<p>Thanks</p>
