<p>Hello <%= @receivers_details.name %>, </p>
<p><%= @user.name %> has applied for Special request on (<%= @leave_details.created_at.strftime("%d/%m/%Y")%>). Please find the details below.</p>
<table border="1" width="50%">
  <tr>
    <td width="15%">Type</td>
    <td> Special Request</td>
  </tr>
  <tr>
    <td>Date</td>
    <td><%= @leave_details.leave_start_date.strftime("%d/%m/%Y") %></td>
  </tr>
  <tr>
    <td>Time</td>
    <td><%= @leave_details.hours_minutes.strftime("%H:%M") %></td>
  </tr>
  <tr>
    <td>Reason</td>
    <td><%= @leave_details.reason %></td>
  </tr>
</table><br />
<p>Thanks,<br />Site Administrator</p>
