<p>Hello <%= @receivers_details.name %></p>
<p>Your leave is approved by <%= @employee_leave.systango_hrm_request_receivers.last.user.name %> on (<%=@approved_date.strftime("%d/%m/%Y") %>). Please find the details below.</p>

<table border="1" width="80%">
  <tr>
    <td>Date</td>
    <% if  @employee_leave.leave_start_date ==  @employee_leave.leave_end_date %>
      <td><%=  @employee_leave.leave_start_date.strftime("%d/%m/%Y") %> - <%=  @employee_leave.leave_end_date.strftime("%d/%m/%Y") %> (1 day) </td>
      <% else %>
      <td><%=  @employee_leave.leave_start_date.strftime("%d/%m/%Y") %> - <%=  @employee_leave.leave_end_date.strftime("%d/%m/%Y") %> (<%= pluralize(( @employee_leave.leave_end_date.to_date -  @employee_leave.leave_start_date.to_date).to_i + 1, 'day') %>)</td>
     <% end %>
  </tr>
  <tr>
    <td>Final approver comment</td>
    <td><%= @employee_leave.systango_hrm_request_receivers.last.comment %></td>
  </tr>
  <tr>
    <td>First approver comment</td>
    <td><%= @employee_leave.systango_hrm_request_receivers.first.comment %> </td>
  </tr>
  <tr>
    <td>Status</td>
    <td><%= @employee_leave.status.capitalize %></td>
  </tr>
</table><br />
<p>Thanks,<br />Site Administrator</p>
