<!--<p>Hello <%#= @leave_account.user.name.titleize rescue nil %>,</p>-->

<!--<p>Comp-off added for: <u><%#= @compoff.to_f %></u> days</p>-->

<!--<p>Your total Comp-off is : <u><%#= @leave_account.total_comp_off_provided %></u></p>-->
<p>Your Comp-Off Request has been submitted on (<%= @compoff.created_at.strftime("%d/%m/%Y")%>). Please find the below details.
</p>
<table border="1" width="50%">

  <tr>
    <td width="30%">Date</td>
    <% if @compoff.leave_end_date == @compoff.leave_start_date %>
      <td><%= @compoff.leave_start_date.strftime("%d/%m/%Y") %> - <%= @compoff.leave_end_date.strftime("%d/%m/%Y") %> (1 day) </td>
    <% else %>
      <td><%= @compoff.leave_start_date.strftime("%d/%m/%Y") %> - <%= @compoff.leave_end_date.strftime("%d/%m/%Y") %> (<%= pluralize((@compoff.leave_end_date.to_date - @compoff.leave_start_date.to_date).to_i + 1, 'day') %>)</td>
    <% end %>
  </tr>
  <tr>
    <td width="30%">Type</td>
    <td> Comp-off</td>
  </tr>

  <tr>
    <td>Remarks</td>
    <td><%= @compoff.comp_off_remarks %></td>
  </tr>
</table><br />
<p>Thanks,<br />Site Administrator</p>
