<p>Hello <%= @current_user.name %>,</p>
<p>Your leave application has been cancelled on (<%= @leave_application.updated_at.strftime("%d/%m/%Y")%>). Please the table below deatils.
</p>
<%= render :partial => "leave_detail", :locals => { :leave => @leave_application } %>

<p>
<%= @current_user.name.titleize %> changed the status to: <u><%='Cancel'%></u>
</p>

