<p>Hello <%= @receivers_details.name %>, </p>
<p><%= @user.name %> has applied for leave on (<%= @leave_details.created_at.strftime("%d/%m/%Y")%>). Please find the details below.</p>

<table border="1" width="50%">
  <tr>
    <td width="15%">Type</td>
    <td><%= @leave_details.systango_hrm_subject.subject %></td>
  </tr>
  <tr>
    <td>Date</td>
    <%# if @leave_details.leave_end_date.to_date == @leave_details.leave_start_date.to_date %>
      <td><%= @leave_details.leave_start_date.strftime("%m/%d/%Y") %> - <%= @leave_details.leave_end_date.strftime("%m/%d/%Y") %> <%= @leave_days.to_i < 1 ? "(#{@leave_days} day)" : "(#{pluralize(@leave_days, 'day')})" %> </td>
    <%# else %>
      <!--<td><%#= @leave_details.leave_start_date.strftime("%m/%d/%Y") %> - <%#= @leave_details.leave_end_date.strftime("%m/%d/%Y") %> (<%#= pluralize((@leave_details.leave_end_date.to_date - @leave_details.leave_start_date.to_date).to_i + 1, 'day') %>)</td>-->
    <%# end %>
  </tr>
  <tr>
    <td>Reason</td>
    <td><%= @leave_details.remark %></td>
  </tr>
</table><br />
<p>Thanks,<br />Site Administrator</p>
