<p>Hello <%= @receivers_details.name %>, </p>
<p>Your Leave is approved by <%=@employee_leave.user.subordinates.first.teamlead_user.name.titleize %> on (<%= @approved_date.strftime("%d/%m/%Y") %>). Please find the detail below. </p>
<table border="1" width="80%">
  <tr>
    <td width="25%">Date</td>
    <% if @employee_leave.leave_start_date == @employee_leave.leave_end_date %>
      <td><%= @employee_leave.leave_start_date.strftime("%d/%m/%Y") %> - <%= @employee_leave.leave_end_date.strftime("%d/%m/%Y") %> (1 day) </td>
    <% else %>
      <td><%= @employee_leave.leave_start_date.strftime("%d/%m/%Y") %> - <%= @employee_leave.leave_end_date.strftime("%d/%m/%Y") %> (<%= pluralize((@employee_leave.leave_end_date.to_date - @employee_leave.leave_start_date.to_date).to_i + 1, 'day') %>)</td>
    <% end %>
  </tr>
  <tr>
    <td>Reason</td>
    <td><%= @employee_leave.remark %></td>
  </tr>
</table><br />
<p>Thanks,<br />Site Administrator</p>