Hello <%= @leave_details.user.subordinates.first.teamlead_user.name %>
<p><%= @leave_details.user.name %> has cancelled the leave on (<%= @cancel_date.strftime("%d/%m/%Y") %>). Please find the details below.</p>
<table border="1" width="80%">
  <tr>
    <td width="25%">Type</td>
    <td><%= @leave_details.systango_hrm_subject.subject %></td>
  </tr>
  <tr>
    <td>Date</td>
    <% if  @leave_details.leave_start_date ==  @leave_details.leave_end_date %>
      <td><%=  @leave_details.leave_start_date.strftime("%d/%m/%Y") %> - <%=  @leave_details.leave_end_date.strftime("%d/%m/%Y") %> (1 day) </td>
    <% else %>
      <td><%=  @leave_details.leave_start_date.strftime("%d/%m/%Y") %> - <%=  @leave_details.leave_end_date.strftime("%d/%m/%Y") %> (<%= pluralize(( @leave_details.leave_end_date.to_date -  @leave_details.leave_start_date.to_date).to_i + 1, 'day') %>)</td>
    <% end %>
  </tr>
  <tr>
    <td>Reason</td>
    <td><%=  @leave_details.remark %></td>
  </tr>
</table><br />
<p>Thanks,<br />Site Administrator</p