<p>Hello <%= @receivers_details.name %></p>
<p><%= @receivers_details.name %> has Cancelled the leave on(<%= @receivers_details.updated_at.strftime("%d/%m/%Y")%>).Please the details below.</p>

<table border="1" width="80%">
  <tr>
    <td>Date</td>
    <% if @employee_leave.leave_end_date.to_date == @leave_details.leave_start_date.to_date %>
      <td><%= @employee_leave.leave_start_date.strftime("%m/%d/%Y") %> - <%= @employee_leave.leave_end_date.strftime("%m/%d/%Y") %> (1 day) </td>
    <% else %>
      <td><%= @employee_leave.leave_start_date.strftime("%m/%d/%Y") %> - <%= @employee_leave.leave_end_date.strftime("%m/%d/%Y") %> (<%= pluralize((@employee_leave.leave_end_date.to_date - @employee_leave.leave_start_date.to_date).to_i + 1, 'day') %>)</td>
    <% end %>
  </tr>
  <tr>
    <td>Reason</td>
    <td><%= @employee_leave.remark %></td>
  </tr>
  <tr>
    <td>Status</td>
    <td>Cancelled</td>
  </tr>
</table><br />
<p>Thanks</p>
