<p>Hello <%= @leave_application.systango_hrm_request_receivers.first.user.name %></p>
<p><%= @leave_application.user.name %> has Cancelled the Comp-off leave on (<%= @canceled_date.strftime("%d/%m/%Y")%>).Please find the details below.</p>

<table border="1" width="80%">
  <tr>
    <td>Date</td>
    <% if @leave_application.leave_end_date.to_date == @leave_application.leave_start_date.to_date %>
      <td><%= @leave_application.leave_start_date.strftime("%m/%d/%Y") %> - <%= @leave_application.leave_end_date.strftime("%m/%d/%Y") %> (1 day) </td>
    <% else %>
      <td><%= @leave_application.leave_start_date.strftime("%m/%d/%Y") %> - <%= @leave_application.leave_end_date.strftime("%m/%d/%Y") %> (<%= pluralize((@leave_application.leave_end_date.to_date - @leave_application.leave_start_date.to_date).to_i + 1, 'day') %>)</td>
    <% end %>
  </tr>
  <tr>
    <td>Reason</td>
    <td><%= @leave_application.comp_off_remarks %></td>
  </tr>
  <tr>
    <td>Status</td>
    <td>Cancelled</td>
  </tr>
</table><br />
<p>Thanks</p>
