<p>Hello <%= @receivers_details.name %>,</p>
<p><%= @employee_leave.user.name %> has applied for a leave and it is approved by the first approver on (<%= @approved_date.strftime("%d/%m/%Y") %>). Please find the details below.</p>

<table border="1" width="80%">
  <tr>
    <td width="25%">Date</td>
      <% if @employee_leave.leave_start_date == @employee_leave.leave_end_date %>
        <td><%= @employee_leave.leave_start_date.strftime("%d/%m/%Y") %> - <%= @employee_leave.leave_end_date.strftime("%d/%m/%Y") %> <%= (@employee_leave.is_start_date_enabled || @employee_leave.is_end_date_enabled) ? "(0.5 day)" : "(1 day)" %> </td>
      <% else %>
        <td><%= @employee_leave.leave_start_date.strftime("%d/%m/%Y") %> - <%= @employee_leave.leave_end_date.strftime("%d/%m/%Y") %> (<%= (@employee_leave.is_start_date_enabled || @employee_leave.is_end_date_enabled) ? pluralize((@employee_leave.leave_end_date.to_date - @employee_leave.leave_start_date.to_date).to_i + 1 - 0.5, 'day') : pluralize((@employee_leave.leave_end_date.to_date - @employee_leave.leave_start_date.to_date).to_i, 'day') %>)</td>
      <% end %>
  </tr>

  <tr>
    <td>Reason</td>
    <td><%= @first_approver_comment %></td>
  </tr>
</table><br />
<p>Thanks,<br />Site Administrator</p>
