<p>
  Hello <%= @leave.user.name %>,
</p>
<p>
  Your leave application has been submitted on (<%= @leave.created_at.strftime("%d/%m/%Y")%>). Please find the below details.
</p>
<%= render :partial => "leave_notification", :locals => { :leave => @leave, :referred_by => @referred_by } %>

