<table width="100%" class="list issues text-center">
  <tr>
    <th width="20%">Week Day</th>
    <th width="20%">Non Working</th>
    <th width="20%">Leave considered</th>
    <th width="20%">Non working applies to</th>
    <th width="20%">Actions</th>
  </tr>
</table>
<div style="height: 200px; overflow: auto;">
  <table width="100%" style="display: table;">
    <% if @non_working_days.size > 0 %>
      <% @non_working_days.each do |day| %>
        <tr>
          <td width="20%" style="text-align: center"><%= day.non_working_week_day %></td>
          <td width="20%" style="text-align: center"><%= day.non_working_day %></td>
          <td width="20%" style="text-align: center"><%= day.leave_consider %></td>
          <td width="20%" style="text-align: center"><%= day.non_working_week_days %></td>
          <td width="20%" style="text-align: center">
            <%= link_to(image_tag('edit.png'), {:controller => 'systango_hrm_non_working_days', :action => 'edit', :id => day.id}) %>
            <%= link_to image_tag('delete.png'), day, :data => {:confirm => 'Are you sure this non working day will be deleted?'}, :method => :delete %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr><td colspan="5" style="text-align: center;"><%= "No record(s) found." %></td></tr>
    <% end %>
  </table>
</div>
<p class="contextual"><a onclick="history.back(); return false;" href="#">Go back</a></p>