<% if @non_working_day == 0 %>
$("#non_working_days_listing").html('<%= escape_javascript(render(:partial => '/systango_hrm_non_working_days/non_working_days_list')) %>');
<% else %>
window.location.href = '/redmine/holidays'
<% end %>