<div><b>Select Year</b>&nbsp;&nbsp;<%= select_year(@non_working_day.non_working_day_year, {:start_year => Date.today.year, :end_year => 10.years.from_now.year}, {:style => "width:150px", :onchange => "$('#non_working_day_year').val($('#date_year option:selected').val());"}) %></div><br />
<%= form_for :non_working_day, url:  systango_hrm_non_working_day_path(@non_working_day), method: :put do |f| %>
  <div class="box tabular">
    <p>
      <%= f.label(:week_day) do  %>
        Week Day <font color="red">*</font>
      <%end%>
      <%= f.select :non_working_week_day, options_for_select(SystangoHrmNonWorkingDay::WEEK_DAYS, @non_working_day.non_working_week_day) %>
    </p>
    <p>
      <%= f.label(:non_working) do  %>
        Non Working <font color="red">*</font>
      <%end%>
      <%= f.radio_button :non_working_day, "Full Day", :checked => @non_working_day.non_working_day == 'Full Day' ? true : false %> Full Day
      <%= f.radio_button :non_working_day, "Half Day", :checked => @non_working_day.non_working_day == 'Half Day' ? true : false %> Half Day
    </p>
    <p>
      <%= f.label(:leave_considered) do  %>
        Leave Considered <font color="red">*</font>
      <%end%>
      <%= f.select :leave_consider, options_for_select(SystangoHrmNonWorkingDay::LEAVE_CONSIDERED, @non_working_day.leave_consider) %>
    </p>
    <p>
      <%= f.label(:leave_considered) do  %>
        Non working days applies to <font color="red">*</font>
      <%end%>
      <%= f.select :non_working_week_days, options_for_select(SystangoHrmNonWorkingDay::NON_WORKING_DAYS, @non_working_day.non_working_week_days) %>
    </p>
    <%= hidden_field_tag(:non_working_day_year, @non_working_day.non_working_day_year) %>
  </div>
  <%= f.submit l(:submit_form), :class => "right" %> | <%= button_tag "Cancel", :onclick => "if(confirm('Are you sure this non working day will not be updated?')){window.location.href='/redmine/holidays'} return false;" %>
<% end %>