<table class="list issues text-center">
  <span id="watchers_inputs">
		<thead>
		<tr>
		  <th><%=l(:label_name)%></th>
		  <th><%=l(:label_status)%></th>
		  <th><%=l(:label_comment)%></th>
		</tr>
		</thead>
<tbody>
<% unless @leave_status.blank? %>
  <tr>
    <%#= hidden_field_tag(:final_approver, user.id) %>
    <% @leave_status.each do |leave_status|%>
      <td>	<%= leave_status.user.fullname %></td>
      <td>
        <%= leave_status.receiver_approval_status.capitalize %>
      </td>
      <td><%= leave_status.comment.capitalize %></td>
      </tr>
    <% end %>
<% end %>
</tbody>

</table>
