<%if comp_off_leaves %>
  <table class="list issues text-center">
    <thead>
    <tr>
      <%= "<th>#{l(:label_user)}</th>".html_safe %>
      <th><%= l(:label_apply_leave)%></th>
      <th><%= l(:label_leave_start)%></th>
      <th><%= l(:label_leave_end)%></th>
      <th><%= l(:label_category)%></th>
      <th><%= l(:label_for_status)%></th>
    </tr>
    </thead>
    <tbody>
    <% comp_off_leaves.compact.each do |comp_leave| %>
      <% next if comp_leave.nil? %>
      <% unless comp_leave.cancel? %>
        <tr class="<%= cycle('even', 'odd') -%> issue">
          <td><% if comp_leave.user.name.present? %><%= comp_leave.user.name %><% end %></td>
          <td><% if comp_leave.created_at.present? %><%= comp_leave.created_at.strftime("%b %d, %y") rescue nil %><% end %></td>
          <td><% if comp_leave.leave_start_date.present? %><%= comp_leave.leave_start_date.strftime("%b %d, %y") rescue nil %><% end %></td>
          <td><% if comp_leave.leave_end_date.present? %><%= comp_leave.leave_end_date.strftime("%b %d, %y") rescue nil %><% end %></td>
          <td><%= link_to "Comp-Off Request", application_systango_hrm_compoff_path(comp_leave.id) %></td>
          <td><% if comp_leave.status.present? %><%= comp_leave.status.capitalize %><% end %></td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
<% end %>



