<%= link_to 'Back', 'javascript:window.history.back();' %><br /><br />
<%= form_for :compoff, url: systango_hrm_compoff_path(@compoff), method: :put do |f| %>
<div class="box tabular">
  <p>
    <%= f.label(:leave_start_date) do  %>
      Start Date <font color="red">*</font>
    <%end%>
    <%= f.text_field :leave_start_date, :size => 10, :readonly => true, :value => (@compoff.leave_start_date.strftime("%Y-%m-%d")), :class => 'date' %>
  </p>
  <p>
    <%= f.label(:leave_end_date) do  %>
      End Date <font color="red">*</font>
    <%end%>
    <%= f.text_field :leave_end_date, :size => 10, :readonly => true, :value => (@compoff.leave_end_date.strftime("%Y-%m-%d")), :class => 'date' %>
  </p>
  <p>
    <%= f.label(:leave_days) do  %>
      Leave Days <font color="red">*</font>
    <%end%>
    <%= f.text_field :comp_off_given, :size => 10, :value => (@compoff.comp_off_given) %>
  </p>
</div>
  <% if @compoff.status != "approved" %>
      <% if User.current.allowed_to_globally?(:manage_leave_request, {})  %>
    <%= f.submit "Update", :class => "right" %>
    <%#= f.submit l(:button_unaprrove), :class => "right" %>
  <% end %>
    <% end %>
<% end %>