<div class="box tabular">
  <% if @compoffs.nil? %>
    <h1>
      No record(s) found.
    </h1>
  <% else %>
  <table width="60%" class="list issues text-center" cellspacing="0" cellpadding="0">
    <tr>
      <th>Users</th>
      <th>Days Required</th>
      <th>Status</th>
      <% if !User.current.admin? && @compoffs.map{|compoff|compoff.status == 'pending'} %>
        <th>Action</th>
      <% end %>
    </tr>
    <% if @compoffs.size > 0 %>
      <% @compoffs.each do |compoff| %>
        <tr>
          <td width="20%"><% if compoff.user.name.present? %><%= compoff.user.name %> <% end %></td>
          <td width="10%"><% if compoff.comp_off_given.present? %> <%= compoff.comp_off_given %> <% end %></td>
          <td width="10%"><% if compoff.status.present? %><%= compoff.status.capitalize %> <% end %></td>
          <td width="10%">
            <% if !User.current.admin? && compoff.status == 'pending' %>
              <%= link_to(image_tag('edit.png'), {:controller => 'systango_hrm_compoffs', :action => 'edit', :id => compoff.id}) %>
              <%= link_to image_tag('delete.png'), compoff, :data => {:confirm => 'Are you sure this compoff will be deleted?'}, :method => :delete %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr><td colspan="4">No record(s) found.</td></tr>
    <% end %>
  </table>
 <% end %>
</div>