<%= render 'shared_css_js/css_js' %>

<p class="contextual">
  <%= link_to_leave_dash_board %> | <%= link_to l(:label_manage_request), leaves_manage_path %> | <%=  link_to_go_back %>
</p>

<h2><%= @leave_status.capitalize %> <%= l(:heading_leave_request) %></h2>
  <% if User.current.allowed_to_globally?(:manage_leave_request, {}) %>
    <%= will_paginate @compoff_leaves unless @compoff_leaves.blank? %>
    <%= render :partial => "systango_hrm_compoffs/manager_requests", :locals => { :leaves => @compoff_leaves } %>
  <% else %>
    <%= will_paginate @compoff_leaves unless @compoff_leaves.blank? %>
    <%= render :partial => "systango_hrm_compoffs/requests", :locals => { :leaves => @compoff_leaves } %>
  <% end %>
  <% if @compoff_pending_leaves.present? %>
    <%= will_paginate @compoff_pending_leaves unless @compoff_pending_leaves.blank? %>
     <%= render :partial => "systango_hrm_compoffs/requests", :locals => { :leaves => @compoff_pending_leaves } %>
   <% end %>
<p class="contextual">
  <%= link_to l(:label_manage_request), leaves_manage_path %> | <%=  link_to_go_back %>
</p>
