<%= render 'shared_css_js/css_js' %>
<%= javascript_include_tag "apply_compoff", :plugin => 'systango_hrm' %>
<p class="contextual">
	<%= link_to_leave_dash_board %> | <%= link_to_go_back %>
</p>

<h3><%= l(:headding_for_comp_off)%></h3>

<%= form_for @compoff, url: systango_hrm_compoffs_url do |f| %>
	<div class="box tabular">
    <% if @compoff and !@compoff.errors.blank? %>
      <p>
      	<div id="errorExplanation">
	      	<ul>
		      	<% @compoff.errors.messages.values.each do |message| %>
		      		<% message.each do |msg| %>
								<li><%= msg %></li>
							<%end %>
		      	<% end %>
	      	</ul>
      	</div>
    	</p> 
    <%end%>
	  <%= f.hidden_field  :user_id, :value => User.current.id %>
	  <%= f.hidden_field :status, :value => "pending" %>
	  <span id="watchers_inputs">
				<% unless @default_application_receivers.blank? %>
					<% @default_application_receivers.each do |user| %>
              <%= hidden_field_tag(:first_approver, user.id) %>
					<% end %>
				<% end %>
		  </span>
		<p>
		  <%= f.label(:leave_start_date) do  %>
		    Start date <font color="red">*</font>
		  <%end%>
		  <%= f.text_field :leave_start_date, :size => 10, :value => (params[:systango_hrm_compoff][:leave_start_date] rescue nil), :class => 'date' %>
	  </p>
	  <p>
	    <%= f.label(:leave_end_date) do  %>
	      End date <font color="red">*</font>
	    <%end%>
	    <%= f.text_field :leave_end_date, :size => 10, :value => (params[:systango_hrm_compoff][:leave_end_date] rescue nil), :class => 'date' %>
	  </p>
	  <p>
	    <%= f.label(:leave_days) do  %>
	      Leave Days <font color="red">*</font>
	    <%end%>
	    <%= f.text_field :comp_off_given, :size => 10, :readonly => true %>
	  </p>
	  <p>
		  <%= f.label(:remarks) do  %>
		  	Remarks <font color="red">*</font> 
	  	<%end%>
		  <%= f.text_area :comp_off_remarks, :id => "message_area", :style=>"resize:none", :cols => 80, :rows => 5,:class=>"wiki-edit",:value => ((params[:compoff][:comp_off_remarks])  rescue nil)%>
	  </p>
	</div>
	<%= f.submit l(:submit_form), :class => "left" %>
<%end%>

<div id='with-clearfix' class='clearfix'></div>
<% if !@compoffs.blank? %>
  <p>
  	<b><%="Comp off details of #{User.find(params[:user_id]).name}"%></b>
	</p>
  <table class="list issues text-center">
    <thead>
    	<tr>
      	<th><%= l(:label_comp_offs_given) %></th>
      	<th><%= l(:label_remarks) %></th>
      	<th><%= l(:label_comp_off_submitted_on) %></th>
    	</tr>
   	</thead>
   	<tbody>
      <% @compoffs.each do |compoff| %>
	      <tr class="<%= cycle('even', 'odd') -%> issue">
		      <td><%= compoff.comp_off_given %></td>
		      <td><%= compoff.comp_off_remarks %></td>
		      <td><%= compoff.created_at.strftime("%B %d, %Y") %></td>
	      </tr>
    	<% end %>
   	</tbody>
  </table>
<% elsif !params[:compoff].blank? %>
  <p><%= l(:label_no_record) %></p>
<%end%>
<p class="contextual"><%= link_to_go_back %></p>
