<%if hr_leaves %>
<table class="list issues text-center">
  <thead>
  <tr>
    <%= "<th>#{l(:label_user)}</th>".html_safe %>
    <th><%= l(:label_leave_type) %></th>
    <th><%= l(:label_apply_leave)%></th>
    <th><%= l(:label_leave_start)%></th>
    <th><%= l(:label_leave_end)%></th>
    <th><%= l(:label_category)%></th>
    <%= "<th>#{l(:label_for_status)}</th>".html_safe %>
  </tr>
  </thead>
  <tbody>
  <% hr_leaves.each do |approved_leave| %>
    <% next if approved_leave.systango_hrm_employee_leave.nil? %>
    <% unless approved_leave.systango_hrm_employee_leave.cancel? %>
      <tr class="<%= cycle('even', 'odd') -%> issue">
        <td><% if approved_leave.systango_hrm_employee_leave.user.present? %><%= approved_leave.systango_hrm_employee_leave.user.firstname.upcase + " " + approved_leave.systango_hrm_employee_leave.user.lastname.capitalize %><% end %></td>
        <td><% if approved_leave.systango_hrm_employee_leave.leave_type.present? %><%= approved_leave.systango_hrm_employee_leave.leave_type %><% end %></td>
        <td><% if approved_leave.created_at.present? %><%= approved_leave.created_at.strftime("%b %d, %y") rescue nil %><% end %></td>
        <td><% if approved_leave.systango_hrm_employee_leave.leave_start_date.present? %><%= approved_leave.systango_hrm_employee_leave.leave_start_date.strftime("%b %d, %y") rescue nil %><% end %></td>
        <td><% if approved_leave.systango_hrm_employee_leave.leave_end_date.present? %><%= approved_leave.systango_hrm_employee_leave.leave_end_date.strftime("%b %d, %y") rescue nil %><% end %></td>
        <td><%= link_to approved_leave.systango_hrm_employee_leave.systango_hrm_subject.subject.truncate(10), application_systango_hrm_employee_leafe_path(approved_leave.application_id) %></td>
        <td><% if approved_leave.systango_hrm_employee_leave.status.present? %><%= approved_leave.systango_hrm_employee_leave.status.capitalize %><% end %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
<% end %>