<% if user_has_any_systango_hrm_permission?%>
  <%= stylesheet_link_tag "fieldset", :plugin => 'systango_hrm'%>

  <% if User.current.admin_user? or User.current.allowed_to_globally?(:manage_leave_request, {}) %>
    <h3><%= l(:heading_for_pending_leaves)%></h3>
    <% if pending_employee_leaves.blank? %>
      <!--<h3><%#= l(:heading_for_pending_leaves)%></h3>-->
    <% else %>
      <%= render :partial => "systango_hrm_employee_leaves/requests", :locals => { :leaves => pending_employee_leaves[0...5] } %>
      <p>
        <%= link_to( l(:link_view_more), leaves_pending_path(:category => 'pending_leave'), :class=> 'apply') if pending_employee_leaves.size>5 %>
      </p>
    <% end %>
  <% end %>

  <% if User.current.hr_user? && User.current.login != 'manager'%>
    <% if pending_hr_leave.blank? %>
      <p><%= l(:message_for_no_pending_leaves) %></p>
    <% else %>
      <%= render :partial => "systango_hrm_employee_leaves/hr_pending_leave", :locals => { :hr_leaves => pending_hr_leave[0...5] } %>
      <p>
        <%= link_to( l(:link_view_more), leaves_pending_path, :class=> 'apply') if pending_hr_leave.size>5 %>
      </p>
    <% end %>
  <% end %>

  <h3><%= l(:heading_for_latest_leaves) %></h3>

  <% if leaves_of_current_user.blank? %>
    <p><%= l(:message_for_no_latest_leaves) %></p>
  <% else %>
    <%= render :partial => "systango_hrm_employee_leaves/requests", :locals => { :leaves => leaves_of_current_user[0...5] } %>
    <p>
      <%= link_to( l(:link_view_more),leaves_pending_path, :class=> 'apply') if leaves_of_current_user.size>5 %>
    </p>
  <% end %>

<!--Special request leave -->
  <% if User.current.allowed_to_globally?(:manage_leave_request, {}) %>
    <h3>Pending Special requests</h3>
    <% if pending_special_request_employee_leaves.blank? %>
      <p> No special leave requests <%#= "No special leave requests" %></p>
    <% else %>
      <%= render :partial => "systango_hrm_special_requests/pending_special_requests", :locals => { :sr_requests => pending_special_request_employee_leaves[0...5]} %>
      <p>
        <%= link_to( l(:link_view_more), special_leaves_pending_path(:category => 'pending_special_request'), :class=> 'apply') if pending_special_request_employee_leaves.size>5 %>
      </p>
    <% end %>
  <% end %>

  <% if User.current.hr_user? && !User.current.allowed_to_globally?(:manage_leave_request, {}) %>
    <h3>Pending Special requests</h3>
    <% if pending_special_request_final_approver.blank? %>
      <p> No special leave requests <%#= "No special leave requests" %></p>
    <% else %>
      <%= render :partial => "systango_hrm_special_requests/pending_special_request_final_approver", :locals => { :sr_requests => pending_special_request_final_approver[0...5]} %>
      <p>
        <%= link_to( l(:link_view_more), special_leaves_pending_path(:category => 'hr_pending_special_request'), :class=> 'apply') if pending_special_request_final_approver.size>5 %>
      </p>
    <% end %>
  <% end %>


  <% if User.current.allowed_to_globally?(:manage_leave_request, {}) %>
    <h3>Latest Special Requests</h3>
    <% if special_request_latest_leaves.blank? %>
      <!--<p><%#= l(:message_for_no_pending_leaves) %></p>-->
      <p> No special leave requests <%#= "No special leave requests" %></p>
    <% else %>
      <%= render :partial => 'systango_hrm_special_requests/manager_latest_special_requests', :locals => {:sr_requests => special_request_latest_leaves[0...5] } %>
      <p>
        <%= link_to( l(:link_view_more),special_leaves_pending_path(:category => 'latest_special_request'), :class=> 'apply') if special_request_latest_leaves.size>5 %>
      </p>
    <% end %>
  <% elsif User.current.hr_user? %>
    <h3>Latest Special Requests</h3>
    <% if special_request_latest_final_approver_leaves.blank? %>
      <p>No special leave requests</p>
    <% else %>
      <%= render :partial => 'systango_hrm_special_requests/final_approver_latest_special_requests', :locals => {:sr_requests => special_request_latest_final_approver_leaves[0...5] } %>
      <p>
        <%= link_to( l(:link_view_more),special_leaves_pending_path(:category => 'latest_special_request_final_approver'), :class=> 'apply') if special_request_latest_final_approver_leaves.size>5  %>
      </p>
    <% end %>
  <% else %>
    <h3>Latest Special Requests</h3>
    <% if special_request_employee_leaves.blank? %>
      <p>No special leave requests</p>
    <% else %>
      <%= render :partial => 'systango_hrm_special_requests/user_special_requests', :locals => {:sr_requests => special_request_employee_leaves[0...5] } %>
      <p>
        <%= link_to( l(:link_view_more),special_leaves_pending_path(:category => 'special_request'), :class=> 'apply') if special_request_employee_leaves.size>5 %>
      </p>
    <% end %>
  <% end %>




  <!-- Start For Comop-Off leave-->
   <!--pending compoff leave -->
  <% if User.current.admin_user? or User.current.allowed_to_globally?(:manage_leave_request, {}) %>
    <h3><%= l(:heading_for_compoff_pending_leaves)%></h3>
    <% if pending_compoff_request_employee_leaves.blank? %>
      <p>No compoff requests</p>
      <!--<h3><%#= l(:heading_for_pending_leaves)%></h3>-->
    <% else %>
      <%= render :partial => "systango_hrm_compoffs/pending_compoff_requests", :locals => { :compoff_requests => pending_compoff_request_employee_leaves[0...5]} %>
      <p>
        <%= link_to( l(:link_view_more), compoff_leaves_pending_path(:category => 'compoff_pending_request'), :class=> 'apply') if pending_compoff_request_employee_leaves.count>5 %>
      </p>
    <% end %>
  <% end %>
  <!--end pending compoff leave -->

  <% if User.current.allowed_to_globally?(:manage_leave_request, {}) %>
    <h3>Latest Comp-Off Requests</h3>
    <% if comp_off_request_employee_leaves.blank? %>
      <p><%= l(:message_for_no_pending_leaves) %></p>
    <% else %>
      <%= render :partial => "systango_hrm_compoffs/manager_comp_off_leave", :locals => { :comp_off_leaves => comp_off_request_employee_leaves[0...5] } %>
      <p>
        <%#= link_to( l(:link_view_more), leaves_pending_path, :class=> 'apply') if @pending_leave.length>5 %>
        <%= link_to( l(:link_view_more), compoff_leaves_pending_path(:category => 'compoff_request'), :class=> 'apply') if comp_off_request_employee_leaves.count>5 %>
      </p>
    <% end %>
    <% else %>
    <h3>Latest Comp-Off Requests</h3>
    <% if comp_off_request_employee_leaves.blank? %>
      <p><%= l(:message_for_no_pending_leaves) %></p>
    <% else %>
      <%= render :partial => "systango_hrm_compoffs/user_comp_off_leave", :locals => { :comp_off_leaves => comp_off_request_employee_leaves[0...5] } %>
      <p>
    <%#= link_to( l(:link_view_more), leaves_pending_path, :class=> 'apply') if @pending_leave.length>5 %>
      <%= link_to( l(:link_view_more), compoff_leaves_pending_path(:category => 'compoff_request'), :class=> 'apply') if comp_off_request_employee_leaves.count>5 %>
      </p>
    <% end %>
  <% end %>
  <!-- End For Comop-Off leave-->
<% end %>