<%= form_for @employee_leave do |f| %>
	<div class="box tabular">
		<% unless @employee_leave.errors.blank? %>
	 		<p>
	 			<div id="errorExplanation">
			 		<ul>
				 		<% @employee_leave.errors.messages.values.each do |message| %>
		      		<% message.each do |msg| %>
								<li><%= msg %></li>
							<%end %>
						<% end %>
			 		</ul>
			 	</div>
		 	</p>
		<%end%>
		<!--<%# if @employee_leave.id? and @employee_leave.referral_id? %>-->
			<!--<p>-->
			  <!--<%#= f.label(:leave_type) do  %>-->
			    <!--Leave type<font color="red">*</font>-->
		    <!--<%#end%>-->
				<!--<span id="watchers_inputs"> -->
					<!--<label class="floating"> -->
						<!--<%#= radio_button 'apply', 'leave', 'refer', :checked => (true) %>-->
						<!--<%#=l(:label_referred)%>-->
					<!--</label>-->
				<!--</span>-->
			<!--</p>-->
			<!--<%#= f.hidden_field  :user_id, :value => @employee_leave.user_id %>-->
			<!--<%#= f.hidden_field  :referral_id, :value => @employee_leave.referral_id %>-->
		<!--<%# else %>-->
			<!--<p>-->
				<!--<%#= f.label(:leave_type) do  %>-->
					<!--Select leave type <font color="red">*</font>-->
				<!--<%#end%>-->
			 	<!--<span id="watchers_inputs"> -->
					<!--<label class="floating"> -->
				 		<!--<%#= radio_button 'apply', 'leave', 'self', {:class => "relat__atu relat__atu_no", :checked => (true if @employee_leave.referral_id.blank? or params[:apply][:leave]== 'self' rescue nil)} %>-->
						<!--<%#= l(:label_self)%>-->
					<!--</label>-->
					<!--&lt;!&ndash;<label class="floating">&ndash;&gt;-->
						<!--&lt;!&ndash;<%#= radio_button 'apply', 'leave', 'refer', {:class => "relat__atu relat__atu_yes", :checked => (true if !@employee_leave.referral_id.blank? or (params[:apply] and params[:apply][:leave] == 'refer' rescue nil))} %>&ndash;&gt;-->
						<!--&lt;!&ndash;<%#= l(:label_referral) %>&ndash;&gt;-->
					<!--&lt;!&ndash;</label>&ndash;&gt;-->
			 	<!--</span>-->
			<!--</p>-->
			<!--<p id="referral_apply" style="display:none">-->
				<%# if @subordinates_with_leave_account.blank? %>
					<%#= l(:message_for_no_subordinate) %>
				<%# else %>
					<%#= f.label(:referrals) do %>
						<!--Select referrals name <font color="red">*</font>-->
					<%#end%>
					<%#= f.select(:referral_id, @subordinates_with_leave_account.collect{|p| [p.name, p.id]}, {:prompt =>  l(:prompt_to_select),:selected => (params[:systango_hrm_employee_leave][:referral_id] rescue nil)}) %>
				<%# end %>
			<!--</p>-->
		<%# end %>
		<!--<p>-->
			<!--<%#= f.label :half_day, l(:label_for_half_day)%> <%#= f.check_box :is_half_day, :id => 'half_day', :checked => (@employee_leave.is_half_day or params[:systango_hrm_employee_leave][:is_half_day] == "1"  rescue nil)%>-->
		<!--</p>-->
		<%# if @leave_account.is_eligible_for_maternity_leave %>
			<!--<p id="maternity_leave">-->
				<%#= f.label :maternity_leave, l(:label_for_maternity_leave) %> <%#= f.check_box :is_maternity_leave, :id => 'maternity_leave', :checked => ( @employee_leave.is_maternity_leave or params[:systango_hrm_employee_leave][:is_maternity_leave] == "1" rescue nil) %>
			<!--</p>-->
		<%# end %>
	  <p>
		<%= f.label(:category) do  %>
			Leave Type <font color="red">*</font>
		<%end%>
		<%= f.select(:subject_id,options_from_collection_for_select(@subjects, "id", "subject", :selected => (@employee_leave.subject_id or params[:systango_hrm_employee_leave][:subject_id] rescue nil)), {:prompt => l(:prompt_to_select)}, id: "subject_id", :onchange => 'update_available_balance(this.options[this.selectedIndex].value);') %>
	  </p>
	  <p>
		<%= f.label(:available_balance) do  %>
			Available Balance <font color="red">*</font>
		<%end%>
		<%= f.text_field :available_balance, :size => 10, :value => (@available_balance or params[:systango_hrm_employee_leave][:available_balance] rescue nil), :readonly => true %>
	  </p>
		<p>
			<%= f.label(:leave_start_date) do  %>
				Start date <font color="red">*</font>
			<%end%>
			<%= f.text_field :leave_start_date, :size => 10, :value => (@employee_leave.leave_start_date.strftime("%Y-%m-%d") or params[:systango_hrm_employee_leave][:leave_start_date] rescue nil), :class => 'leave_date' %>
		  	<%= f.check_box :start_date_first_half, {:class => "leave_half"}, true, false %>&nbsp;First 1/2
		  	<%= f.check_box :start_date_second_half, {:class => "leave_half"}, true, false %>&nbsp;Second 1/2
		</p>
		<p>
			<%= f.label(:leave_end_date) do  %>
				End date <font color="red">*</font>
			<%end%>
			<%= f.text_field :leave_end_date, :size => 10, :value => (@employee_leave.leave_end_date.strftime("%Y-%m-%d") or params[:systango_hrm_employee_leave][:leave_end_date] rescue nil), :class => 'leave_date' %>
			<%= f.check_box :leave_date_first_half, {:class => "leave_half"}, true, false %>&nbsp;First 1/2
			<%= f.check_box :leave_date_second_half, {:class => "leave_half"}, true, false %>&nbsp;Second 1/2
		</p>
		  <p>
			<%= f.label(:leave_days) do  %>
				Leave Days <font color="red">*</font>
			<%end%>
			  <%# if @employee_leave.present? %>
		      <%#= f.text_field :leave_days, :size => 10, :readonly => true, :value => ((@employee_leave.leave_end_date.to_date - @employee_leave.leave_start_date.to_date).to_i + 1) %>
				<%# else %>
		      <%= f.text_field :leave_days, :size => 10, :readonly => true %>
				<%# end %>
		  </p>
		<p>
			<%= f.label(:remarks) do  %>
				Reason <font color="red">*</font>
			<%end%>
			<%= f.text_area :remark, :id => "message_area", :class =>"wiki-edit", :style=>"resize:none", :cols => 19, :rows => 5, :value => (@employee_leave.remark or params[:systango_hrm_employee_leave][:remark] rescue nil) %>
		</p>
		<p>
			<label>
				<b><%= l(:label_for_default_application)%></b>
			</label>
			<span id="watchers_inputs">
				<% unless @default_application_receivers.blank? %>
					<% @default_application_receivers.each do |user| %>
							<label class="floating" style="clear: both;"><%= check_box_tag 'users_id[]', user.id, true, :disabled => true %><%= user.name %></label>
						<%= hidden_field_tag(:first_approver, user.id) %>
					<% end %>
				<% end %><br />
			  <% unless @users_with_hr_permission.blank? %>
					<% @users_with_hr_permission.each do |user| %>
							<label class="floating" style="clear: both;"><%= check_box_tag 'users_id[]', user.id, true, :disabled => true %><%= user.name %></label>
			      <%= hidden_field_tag(:final_approver, user.id) %>
					<% end %>
				<% end %>
			</span>
		</p>
		<%#if !@users_with_hr_permission.blank? and @users_with_hr_permission.include?(User.current.id) %>
			<!--<div id="show_hr_if_referral" style="height:20px;">-->
				<!--<p>-->
					<!--<%#= check_box_tag 'users_id[]', User.current.id, true, :disabled => true  %>-->
					<!--<%#= User.current.name %>-->
				<!--</p>-->
			<!--</div>-->
		<%# end %>
		<!--<%# unless @teamlead_details.blank? %>-->
			<!--<p>-->
				<!--<%#= f.label(:select_employee_name) do %>-->
					<!--Add more leave approvers-->
					<!--<span id='with-clearfix' class='clearfix add_attachment'>-->
						<!--(Select more than one name by pressing Ctrl Key)-->
					<!--</span>-->
				<!--<%#end%>-->
				<!--<span class="select_width">-->
					<!--<%#= collection_select(:receiver_id, :id, @teamlead_details, :id, :name,{},  {:multiple => true, :size => 5})%>-->
				<!--</span>-->
			<!--</p>-->
		<!--<%# end %>-->
	</div>
	<p>
		<%= f.submit l(:button_submit_continue), :name => 'continue', :class=>"left" %>
		<%= f.submit(l(:button_submit_view), :name => 'view', :class => "left") unless @employee_leave.id? and @employee_leave.referral_id? %>
	</p>
<% end %>
<script>
	<% if @employee_leave.leave_end_date.present? && @employee_leave.leave_start_date.present? %>
	$('#systango_hrm_employee_leave_leave_days').val(<%= (@employee_leave.leave_end_date.to_date - @employee_leave.leave_start_date.to_date).to_i + 1 %>)
	<% end %>
//	var disabledDates = <%#= raw @non_working_days %>;
</script>
