<% if leaves %>
  <table class="list issues text-center">
    <thead>
    <tr>
      <th>User</th>
      <th><%= l(:label_leave_type) %></th>
      <th><%= l(:label_apply_leave)%></th>
      <th><%= l(:label_leave_start)%></th>
      <th><%= l(:label_leave_end)%></th>
      <th><%= l(:label_category)%></th>
      <th>Final leave approval status</th>
    </tr>
    </thead>
    <tbody>
    <% leaves.compact.each do |leave| %>
      <% unless leave.cancel? %>
        <tr class="<%= cycle('even', 'odd') -%> issue">
            <td><%= leave.systango_hrm_employee_leave.user.name %></td>
          <td><% if leave.systango_hrm_employee_leave.leave_type.present? %><%= leave.systango_hrm_employee_leave.leave_type %><% end %></td>
          <td><% if leave.systango_hrm_employee_leave.present? %><%= leave.systango_hrm_employee_leave.created_at.strftime("%b %d, %y") rescue nil %><% end %></td>
          <td><% if leave.systango_hrm_employee_leave.leave_start_date.present? %><%= leave.systango_hrm_employee_leave.leave_start_date.strftime("%b %d, %y") rescue nil %><% end %></td>
          <td><% if leave.systango_hrm_employee_leave.leave_end_date.present? %><%= leave.systango_hrm_employee_leave.leave_end_date.strftime("%b %d, %y") rescue nil %><% end %></td>
          <td><%= link_to leave.systango_hrm_employee_leave.systango_hrm_subject.subject.truncate(10), application_systango_hrm_employee_leafe_path(leave.systango_hrm_employee_leave.id) %></td>
          <td><% if leave.systango_hrm_employee_leave.status.present? %><%= leave.systango_hrm_employee_leave.status.capitalize %><% end %></td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
<% end %>