<% if User.current.admin? %>
  <div class="box tabular">
    <table width="60%" class="list issues text-center" cellspacing="0" cellpadding="0">
      <tr>
        <th>Users</th>
        <th>Date</th>
        <th>Type</th>
        <th>Status</th>
        <th>Remark</th>
        <%# if !User.current.admin? && @leave_requests.map{|compoff|compoff.status == 'pending'} %>
        <%# end %>
      </tr>
      <% @leave_requests.compact.each do |leave| %>
        <tr>
          <td width="20%"><% if leave.user.name.present? %><%= leave.user.name %> <% end %></td>
          <td width="10%"><% if leave.created_at.present? %> <%= leave.created_at.strftime("%m/%d/%Y") %> <% end %></td>
          <td width="10%"><% if leave.systango_hrm_subject.subject.present? %><%= leave.systango_hrm_subject.subject %> <% end %></td>
          <td width="10%"><% if leave.remark.present? %><%= leave.remark %> <% end %></td>
          <td width="10%"><% if leave.status.present? %><%= leave.status.capitalize %> <% end %></td>
          <%#= link_to 'View Details', {:controller => "systango_hrm_compoffs", :action => 'edit', :id => compoff.id} %>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>