<%= render 'shared_css_js/css_js' %>

<p class="contextual">
	<%= link_to_leave_dash_board %> | <%= link_to l(:label_manage_request), leaves_manage_path %> | <%=  link_to_go_back %>
</p>
<%#= will_paginate @all_user_leaves unless @all_user_leaves.blank? %>
<h2><%= @leave_status.capitalize %> <%= l(:heading_leave_request) %></h2>

	<% if User.current.allowed_to_globally?(:manage_leave_request, {}) %>
	  <%= render :partial => "systango_hrm_employee_leaves/requests", :locals => { :leaves => @all_user_leaves } %>
	<% end %>

	<% if User.current.hr_user? %>
	  <%= will_paginate @all_hr_leaves unless @all_hr_leaves.blank? %>
	  <%= render :partial => "systango_hrm_employee_leaves/requests_hr", :locals => { :leaves => @all_hr_leaves  } %>
	<% end %>

	<% if !User.current.hr_user? && !User.current.allowed_to_globally?(:manage_leave_request, {})%>
	  <%= will_paginate @all_user_leaves unless @all_user_leaves.blank? %>
	  <%= render :partial => "systango_hrm_employee_leaves/requests_user", :locals => { :leaves => @all_user_leaves  } %>
	<% end %>

<%#= render :partial => "systango_hrm_employee_leaves/requests", :locals => { :leaves => @all_leaves } %>

<p class="contextual">
	<%= link_to l(:label_manage_request), leaves_manage_path %> | <%=  link_to_go_back %>
</p>
