<p>Hello <%= @receivers_details.name %></p>
<p><%= @user.name %> has applied for leave below.</p>

<table border="1" width="50%">
  <tr>
    <td width="15%">Type</td>
    <td><%= "Special Request" %></td>
  </tr>
  <tr>
    <td>Date</td>
    <td><%= @leave_details.leave_start_date.strftime("%b %d, %y") %></td>
  </tr>
  <tr>
    <td>Reason</td>
    <td><%= @leave_details.reason %></td>
  </tr>
</table><br />
<p>Thanks<br />Site Administrator</p>
