<% year ||= params[:year] %>
<table class="list issues text-center">
  <tr>
    <th>Leave Type</th>
    <th>Year</th>
    <th>Opening Balance</th>
    <th>Current Balance</th>
  </tr>
  <% subjects.each do |subject| %>
    <tr><td><%= subject.subject %></td>
      <td><%= year || Date.today.year %></td>
      <td><%= subject.total_days %></td>
      <td><%# year = params[:year].present? ?  %><%= subject.get_leave_balance(year || Date.today.year) %></td></tr>
  <% end %>
</table>