$("#list_user_leaves").html('<%= escape_javascript(render(:partial => "systango_hrm_leave_reports/user_leaves", :locals => {:subjects => @subjects, :year => params[:year]})) %>');
$("#display_leaves_taken").html('<%= escape_javascript(render(:partial => "systango_hrm_employee_leaves/requests", :locals => { :leaves => @self_records })) %>');